/*custom font*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

html {
	height: 100%;
	/*Image only BG fallback*/
	/*background = gradient + image pattern combo*/
	background-color: #2c3e50
	
}

body {
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
/*form styles*/
#msform {
	width: 750px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	
	box-sizing: border-box;
	width: 75%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #18bc9c;
;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
	margin-top: 20px;
	margin-bottom: 10px;
}


#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #18bc9c;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 20px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
	margin-top: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 50px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white; /*color of progress bar text */
	text-transform: uppercase;
	font-size: 9px;
	width: 9%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width:     20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 3px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #18bc9c;
	color: white;
}

input[type=checkbox] {
	visibility: hidden;
}
input[type=radio] {
	visibility: hidden;
}

.squaredOne {
	width: 160px;
	height: 30px;
	background: #87cefa;

	background: -webkit-linear-gradient(top, #87cefa 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #87cefa 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #87cefa 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #87cefa 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #87cefa 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87cefa', endColorstr='#b3bead',GradientType=0 );
	margin: 5px auto;
	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	position: relative;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none; 
}


.squaredOne label {
	cursor: pointer;
	position: absolute;
	width: 150px;
	height: 18px;
	left: 4px;
	top: 4px;
	padding-top: 2px;
	color: fff;

	-webkit-box-shadow: inset 0px 0px 0px rgba(0,0,0,0.5), 0px 0px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 0px 0px rgba(0,0,0,0.5), 0px 0px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 0px 0px rgba(0,0,0,0.5), 0px 0px 0px rgba(255,255,255,1);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none; 
}

.squaredOne label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	position: absolute;
	width: 150px;
	height: 16px;
	background: #0dce81;

	background: -webkit-linear-gradient(top, #0dce81 0%, #009400 100%);
	background: -moz-linear-gradient(top, #0dce81 0%, #009400 100%);
	background: -o-linear-gradient(top, #0dce81 0%, #009400 100%);
	background: -ms-linear-gradient(top, #0dce81 0%, #009400 100%);
	background: linear-gradient(top, #0dce81 0%, #009400 100%);

	top: 2px;
	left: 2px;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
			  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none; 

}

.squaredOne label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.squaredOne input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

.squaredOne input[type=radio]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

/* Gender */

#square1 label:after{
	content: 'Female';

}

#square2 label:after{
	content: 'Male';

}

/* Year in school */

#square3 label:after{
	content: 'High School';

}

#square4 label:after{
	content: 'College';

}

/* Mentee or Mentor */

#square5 label:after{
	content: 'Mentee';

}

#square6 label:after{
	content: 'Mentor';
}

/* Favorite subjects */

#math label:after{
	content: 'Math';

}

#english label:after{
	content: 'English';

}

#art label:after{
	content: 'Art';
}


#physics label:after{
	content: 'Physics';

}

#biology label:after{
	content: 'Biology';

}

#chemistry label:after{
	content: 'Chemistry';

}

#history label:after{	
	content: 'History';

}

#economics label:after{
	content: 'Economics';

}

#literature label:after{
	content: 'Literature';
}

/* Gender preference */

#femaleonly label:after{
	content: 'Female only';
}

#maleonly label:after{
	content: 'Male only';
}
#dontmind label:after{
	content: "I don't mind";
}

/* Preferred means of communication */

#inperson label:after{
	content: 'In-Person';
}

#email2 label:after{
	content: 'E-mail';
}

#vchat label:after{
	content: 'Video Chat';
}

#im label:after{
	content: 'Instant Message';
}

#phone label:after{
	content: 'Phone';
}

#other label:after{
	content: 'Other';
}

/* Want to be mentored in */

#academics label:after{
	content: 'Academics';
}

#careers label:after{
	content: 'Careers';
}

#sociallife label:after{
	content: 'Social Life';
}

#applications label:after{
	content: 'Applications';
}

#scholarships label:after{
	content: 'Scholarships';
}

#transitioning label:after{
	content: 'Transition to College';
}

/* Time per week */

#time1 label:after{
	content: '15-30 minutes';
}

#time2 label:after{
	content: '30-45 minutes';
}

#time3 label:after{
	content: '45-60 minutes';
}

#time4 label:after{
	content: '1-1.5 hours';
}

#time5 label:after{
	content: '1.5-3 hours';
}

#time6 label:after{
	content: '3+ hours';
}

/* Availability */

#weekdays label:after{
	content: 'Weekdays';
}

#saturdays label:after{
	content: 'Saturdays';
}

#sundays label:after{
	content: 'Sundays';
}