

    RewriteEngine On
    Options +FollowSymlinks

    RewriteRule ^shirts/$ /shirts/shirts.php
    RewriteRule ^shirts2/$ /shirts/shirts2.php
    RewriteRule ^register/$ /inc/register2.php
    RewriteRule ^shirts/([0-9]+)/$ /shirts/shirt.php?id=$1

    #$1 is back reference to whats in parentheses
    #/$ end

